{% extends 'ME/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- title starts -->
          {% block title %}
          <title>Akshit Goel</title>
          {% endblock title %}
<!-- titile ends -->

<!-- navbar starts -->
        {% block navbar_specific %}

              class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav"

          {% endblock %}


        {% block navbar_list_of_routes %}

            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link js-scroll active" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll active" href="{% url 'blog-page' %}">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll" href="#contact">Contact</a>
              </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link js-scroll active" href="{% url 'profile-page' %}">{{ user.username|capfirst }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll active" href="{% url 'logout-page' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link js-scroll active" href="{% url 'login-page' %}">Login</a>
                </li>
              {% endif %}
            </ul>

      {% endblock %}

<!-- navbar ends -->
{% block content %}
<!-- flash message starts-->
      {% include 'ME/messages.html' %}
      {% block messages %} {% endblock %}

<!-- flash message ends -->

<!-- Intro Skew Start -->

          <div id="home" class="intro route bg-image" style="background-image: url({% static 'ME/img/intoblack.jpg' %})">
            <div class="overlay-itro"></div>
            <div class="intro-content display-table">
              <div class="table-cell">
                <div class="container">
                  <p class="intro-subtitle"><span class="text-slider-items">Software Engineer, Fitness Enthusiast, Believer.. </span><strong class="text-slider"></strong></p>
                </div>
              </div>
            </div>
          </div>
<!-- Intro Skew Star ends -->

<!-- About Postcars starts -->
          <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="box-shadow-full">
                    <div class="row">
                      <div class="col-md-6 frame">
                              <img src="{% static 'ME/img/base1.jpg' %}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                      <div class="col-md-6">
                        <div class="about-me pt-4 pt-md-0">
                          <div class="title-box-2">
                            <h5 class="title-left">
                              About me
                            </h5>
                          </div>
                          <h5 class="font-italic">
                            A Learner, Philosopher, Believer.
                          </h5>
                            <p class="font-weight-light">
                              Beautiful as always, not me, YOU!.<br>
                              I start my day , whishing God for such a great life and prays for a much better day ahead. You can try too it works.
                          </p>
                           <p class="font-weight-light">
                              Learning had been a very important part of my life and now at the age of twenty-three, I had realized that putting your knowledge to work is the best way to understand it, and even master it.
                              This site is an example of what I mean.
                            </p>
                            <p class="font-weight-light">
                                In the end, what matters the most is the journey you have been through. Your journey is your prime storyteller.
                                Humans are different from every other single living being because of the power of  "Thoughts", so whenever you get time think about "Life".
                           </p>
                          <p class="font-weight-normal text-right">"Be The Master Of Your Knowledge".</p>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
<!-- About Psotcard ends -->

<!--/ Section Contact-Footer Star /-->
          <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'ME/img/overlay-bg.jpg' %})">
            <div class="overlay-mf"></div>
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="title-box-2">
                            <h5 class="title-left"> Message Us</h5><br>
                            <form  method="POST">
                                {% csrf_token %}
                                    {{ form|crispy }}
                            <div class="col-md-12">
                              <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                            </div>
                            </form>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="title-box-2 pt-4 pt-md-0">
                            <h5 class="title-left">Get in Touch</h5>
                          </div>
                          <div class="more-info">
                            <h5>Want to get in touch? We'd love to hear from you. Here's how you can reach us.</h5>
                          </div>
                          <div class="socials">
                            <ul>
                              <li><a href="https://www.instagram.com/akshit_oneless"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                              <li><a href="https://twitter.com/akshitspirit"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                              <li><a href="https://github.com/Goel-Akshit"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                  {% include 'ME/footer.html' %}
                  {% block footer %} {% endblock %}
          </section>

  <!--/ Section Contact-footer End /-->
{% endblock %}
