{% extends 'ME/base.html' %}
{% load static %}

<!-- title starts -->
          {% block title %}
          <title>Blog-AG</title>
          {% endblock title %}
<!-- titile ends -->

<!-- navagiation bar -->

          {% block navbar_specific %}
            class="navbar navbar-c navbar-trans navbar-expand-md  " id="mainNav"
         {% endblock %}

          {% block navbar_list_of_routes %}

            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link js-scroll active" href="{% url 'blog-page' %}">Blog</a>
              </li>
              {% if user.is_authenticated %}
               <li class="nav-item">
                  <a class="nav-link js-scroll active" href="{% url 'profile-page' %}">{{ user.username|capfirst }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll active" href="{% url 'logout-page' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link js-scroll active" href="{% url 'login-page' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll active" href="{% url 'register-page' %}">Register</a>
                </li>
              {% endif %}
            </ul>
        {% endblock %}

<!-- nav bar ends -->

<!-- About Postcars starts -->
       {% block content %}
          <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <div class="box-shadow-full">
                    <div class="row">
                      <div class="col-md-4 frame">
                        <div class="img"><img src="{{ object.author.profile.image.url }}" class="img-fluid img-thumbnail" alt=""></div>
                      </div>
                      <div class="col-md-8">
                        <div class="title-box-2">
                          <h5 class="font-italic"><a href="{% url 'user_post-page' object.author.username %}">{{ object.author }}</a></h5>
                          <h3>{{ object.title }}</h3>
                          <p>{{ object.content }}</p>
                          <p class="text-muted" >{{ object.date_posted|date:'g a d, Y' }}</p>
                          {% if object.author == user%}
                          <a class="btn btn-danger" href="{% url 'delete_post-page' object.id %}">Delete Post</a>
                          <a class="btn btn-info" href="{% url 'update_post-page' object.id %}">Update Post</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- sidebar -->
                <div class="col-md-4">
                  <div class="content">
                    <h3>Friends Work</h3>
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="https://www.youtube.com/channel/UCHwHCoC3Tx4C-5BxgskTmcA">UpToDate Indian</a></li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>

        {% endblock content %}

<!-- About Psotcard ends -->
